@import "../../styles/general.scss";

.input {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    &__field {
        border: none;
        padding: 0.5rem;
        font-size: $text-fs;
        &:active {
            border: none;
            outline: none;
        }
        &:focus {
            border: none;
            outline: none;
        }
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all .2s;
        &:hover:not(:disabled){
            scale: 1.1;
        }
        &:disabled{
            cursor: not-allowed;
        }
    }
}
